@media screen and (max-width: 1600px) {
.letter {
    display: none;
}
.performer {
	padding-right: 25%;
}
.performer__text {
	margin-left: 28%;
}
.performer .quote {
	margin-left: 28%;
}
.decision {
	padding-top: 0;
}
.content .content.content_computer{
	padding-top:24px;
	padding-left: 0;
	padding-right: 0;
}
}
/* /1600 */

@media screen and (max-width: 1500px) {
.wave__image {
	width: 150px;
	height: 150px;
}
.wave {
	height: 200px;
}
.loupe {
	top: -64px;
	left: -29%;
}
}
/* /1500 */

@media screen and (max-width: 1200px) {
.slider .slick-dots {
	right: 30px;
}
.list {
  padding-right: 25%;
}
.ladder {
	bottom: -30px;
	top: -30px;
}
.results-title {
	padding: 50px 0 0;
}
.title {
	font-size: 120px;
}
.title_main {
	font-size: 150px;
}
.content_up {
	top: -65px;
}
.results-quote {
	padding-top: 60%;
}
.content_bottom {
	padding-bottom: 50px;
	padding-top: 50px;
}
.video {
	margin-bottom: 50px;
}
}
/* /1310 */

@media screen and (max-width: 1200px) {
.top {
	margin-left: 0;
}
.scrollblock .mCSB_scrollTools {
	right: 20px;
}
.lamp {
	top: 10px;
}
}
/* /1200 */

@media screen and (max-width: 1060px) {
.wrapper_computer {
    background: url(img/computer-tablet.png) no-repeat 50% 0;
    background-size: 100%;
    height: auto;
    padding-bottom: 30%;
}
.scrollblock {
    padding-top: 44%;
    height: 0;
}
.scrollblock__wrap {
    padding: 0 10.7% 0 11.5%;
}
.content .content.content_computer{
	padding-top:24px;
	padding-left: 11px;
	padding-right: 15px;
}
}
/* /1060 */

@media screen and (max-width: 900px) {
.title {
	font-size: 80px;
}
.title_main {
	font-size: 100px;
}
.history {
	margin-bottom: 20px;
}
.point__icon {
    width: 60px;
}
.point__title {
	padding: 10px 0 0 100px;
}
.point__name {
	font-size: 36px;
}
.quote {
	margin: 0 0 40px 100px;
}
.content_up {
	top: -48px;
}
.wave__image {
	width: 100px;
	height: 100px;
}
.wave {
	height: 150px;
}
.wave__image_2 {
	top: 40px;
	left: 13%;
}
.wave__image_5 {
	top: 27px;
    left: 73.5%;
}
.performer__text {
	margin-left: 20%;
	margin-bottom: 40px;
}
.performer .quote {
	margin-left: 20%;
}
.ladder,
.cap {
    display: none;
}
.list {
	padding-right: 0;
}
.top {
    padding-right: 25%;
}
.content_computer {
	padding-top: 20px;
}
.process {
	padding-top: 0;
}
.results-quote {
	padding-top: 55%;
}
.col {
	margin-bottom: 15px;
}
.prospects {
	padding: 0;
}
}
/* /900 */

@media screen and (max-width: 900px) and (min-width: 767px)  {
.indicators__ellips {
    width: 225px;
    height: 225px;
    font-size: 75px;
    line-height: 225px;
    margin-bottom: 15px;
}
.indicators__symbol {
	font-size: 35px;
}
.indicators__text {
    font-size: 14px;
}
}
/* /900-768 */

@media screen and (max-width: 766px) {
.header {
	padding: 0 0 50px;
}
.video {
	padding-top: 56%;
    margin-bottom: 20px;
}
.content .content:not(.content_up):not(.content_down):not(.resume):not(.content_computer):not(.content_top) {
	padding: 30px 15px;
}
.content_down {
    padding-top: 30px;
}
.content_top {
    padding-top: 30px;
}
.quote {
	margin: 0 0 20px 0;
}
.top__text {
	font-size: 22px;
}
.quote__text::after {
    width: 40px;
}
.quote__text {
	padding-left: 60px;
	margin-bottom: 20px;
}
.point__icon {
    width: 40px;
}
.point__title {
	padding: 0 0 0 60px;
}
.row {
	margin: 0;
	display: block;
}
.col {
    padding: 0;
}
.col_2 {
	width: 100%;
}
.col_3 {
	width: 100%;
}
.history__text {
	max-width: 100%;
}
.title {
	margin-bottom: 20px;
}
.point__name {
	margin-bottom: 20px;
}
.point {
	margin-bottom: 20px;
    min-height: 50px;
}
.slider {
	height: 600px;
    margin-top: -10px;
}
.man {
    display: none;
}
.performer {
	padding-right: 0;
}
.performer__text {
	margin-left: 0;
	margin-bottom: 20px;
}
.performer .quote {
	margin-left: 0;
}
.enumeration__item {
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.quote__text br
.enumeration__item br,
.enumeration__item span {
    display: none;
}
.decision__enumeration .enumeration__number {
    font-size: 80px;
    min-width: 43px;
}
.enumeration__text {
	padding-top: 0;
}
.decision__enumeration {
	padding: 0 0 20px;
}
.indicators__item {
	max-width: 100%;
    text-align: center;
}
.indicators__ellips {
    margin: 0 auto 20px;
}
.paint {
    display: none;
}
.progress__list {
	padding-top: 0;
}
.progress__list .list__item::before {
	width: 50px;
    top: 11px;
}
.progress__list .list__item {
	padding-left: 70px;
	margin-bottom: 20px;
}
.process {
	padding-bottom: 0;
}
.performer {
	padding: 0;
}
.title_main {
	font-size: 95px;
}
.prospects__text {
	margin-bottom: 20px;
}
}
/* /767 */

@media screen and (max-width: 640px) {
.scrollblock .mCSB_scrollTools {
	right: 0;
}
.wave {
    margin: 0 -25%;
}
.loupe {
    display: none;
}
.title {
	font-size: 50px;
}
.title_main {
	font-size: 65px;
}
.content_up {
	top: -30px;
}
.prospects__text {
	font-size: 24px;
}
.slider {
    margin: -10px 0 0;
}
.content_computer {
	padding-top: 14px;
}
.results-title {
	padding: 0;
}
.content .content.content_computer{
	padding-top:13px;
	padding-left: 8px;
	padding-right: 9px;
}

}
/* /640 */

@media screen and (max-width: 480px) {
.wrapper_top {
    background-position: 63% 0;
}
.lamp {
	position: absolute;
	width: 60%;
	padding-top: 60%;
    right: -16%;
}
.mac {
	width: 100%;
}
.results-quote {
	padding-top: 68%;
}
.prospects__enumeration .enumeration__number {
	font-size: 140px;
}
.video {
    margin-left: -15px;
    margin-right: -15px;
	padding-top: 62%;
}
.quote__author {
    font-size: 14px;
}
.quote__image {
    min-width: 60px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.slider .slick-dots {
	right: 15px;
    left: 15px;
    top: 20px;
    text-align: center;
}
.slider .slick-dots li {
	margin: 0 10px;
    display: inline-block;
}
.slider {
	margin: -10px 0 0;
}
.slider__item {
	padding: 55px 0 0;
}
.title {
	font-size: 40px;
}
.title_main {
	font-size: 46px;
}
.content_up {
	top: -22px;
}
.content .content.content_computer{
	padding-top:6px;
	padding-left: 17px;
	padding-right: 15px;
}
}
/* /480 */

@media screen and (max-width: 400px) {
.quote__text::after {
	width: 30px;
}
body {
    font-size: 16px;
}
.quote__text {
	padding: 60px 0 0 0;
    font-size: 16px;
}
.quote__text::after {
	height: 50px;
    width: 90px;
    background-size: auto 100%;
}
.scrollblock {
	margin: 0 -15px;
	padding-top: 48%;
}
.scrollblock .mCSB_scrollTools {
	right: 5px;
}
.content_computer {
	padding-top: 8px;
}
.scrollblock__wrap {
	padding: 0 11.8% 0 12%;
}
.point__title {
	padding: 0;
}
.point__name {
    padding-left: 60px;
    min-height: 40px;
    font-size: 26px;
}
.wave {
	margin: 0 -40%;
}
}
/* /400 */
