.content {
font-family: 'Circe';
color: #000000;
font-size: 18px;
line-height: 1.35;
}
.content a {
color: #3562B6;
transition: all 0.3s;
}
p {
margin-bottom: 24px;
}
.wrapper {
width: 100%;
}
.wrapper_top {
background-image: url(img/bg-top.jpg);
background-position: 50% 0;
background-repeat: no-repeat;
background-size: cover;
}
.wrapper_grey {
background: #F5F5F5;
}
.wrapper_gradient {
background: url(img/gradient.png) no-repeat 0 bottom;
background-size: 100%;
}
.wrapper_computer {
background: url(img/computer.png) no-repeat 50% 0;
background-size: 1920px auto;
height: 913px;
position: relative;
}
.wrapper_computer-bg {
background: #E9E8EA;
position: relative;
}
.wrapper_computer-bg::before {
background: #FFFFFF;
height: 322px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
content: '';
}
.wrapper_red {
background: #F2412F;
}
.wrapper_blue {
background: #DFF1FD;
}
.wrapper_grey-dark {
background: #4A5874;
}
.wrapper_yellow {
background: #FBD81A;;
}
.wrapper_prospects {
background: url(img/bgg.jpg) no-repeat 50% 0;
background-size: cover;
}
.wrapper_object {
max-width: 1920px;
margin: auto;
position: relative;
}
.content .content {
width: 100%;
max-width: 1200px;
padding: 0 15px;
margin: auto;
line-height:1.35;
padding: 50px 15px 49px;
}
.content .content.content_computer{
padding-top:24px;
padding-left: 0;
padding-right: 0;
}
.content_up {
position: relative;
top: -86px;
padding-top: 0;
padding-bottom: 10px;
}
.content_white {
color: #FFFFFF;
}
.content_top {
padding-top: 220px;
padding-bottom: 19.7%;
}
.content_bottom {
padding-bottom: 90px;
padding-top: 98px;
}
.content_down {
padding-bottom: 0;
}
.content_computer {
padding-top: 24px;
}
.top {
max-width: 655px;
margin-left: 96px;
}
.top__logo {
background: url(img/logo2.svg) no-repeat 50% 0;
background-size: 100%;
padding-top: 18%;
display: block;
margin-bottom: 30px;
}
.top__text {
max-width: 540px;
font-size: 26px;
margin-bottom: 71px;
}
.top__link {
display: inline-block;
padding-left: 19px;
background: url(img/link.svg) no-repeat 0 50%;
margin-right: 36px;
font-size: 16px;
}
.video {
max-width: 1160px;
margin: -18.5% auto 95px;
padding-top: 56%;
position: relative;
}
.video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.quote {
max-width: 940px;
margin: 0 0 70px 161px;
font-family: 'Fira Sans', sans-serif;
font-style: italic;
line-height: 1.64;
}
.quote__text {
padding: 12px 0 0 85px;
margin-bottom: 46px;
position: relative;
font-size: 17px;
max-width: 765px;
}
.quote__text::after {
content: '';
position: absolute;
top: 0;
left: 0;
background-repeat: no-repeat;
background-size: 100%;
background-position: 0 0;
}
.quote__text_red::after {
background-image: url(img/quote-red.svg);
width: 45px;
height: 44px;
}
.quote__text_red2::after {
background-image: url(img/quote-red2.svg);
width: 61px;
height: 55px;
}
.quote__text_red3::after {
background-image: url(img/quote-red3.svg);
width: 70px;
height: 90px;
}
.quote__text_yellow::after {
background-image: url(img/quote-yellow.svg);
width: 43px;
height: 50px;
}
.quote__text_yellow2::after {
background-image: url(img/quote-yellow2.svg);
width: 53px;
height: 56px;
}
.quote__text_yellow3::after {
background-image: url(img/quote-yellow3.svg);
width: 50px;
height: 59px;
}
.quote__text_dark::after {
background-image: url(img/quote-dark.svg);
width: 53px;
height: 56px;
}
.quote__text_dark2::after {
background-image: url(img/quote-dark2.svg);
width: 45px;
height: 44px;
}
.quote__text_blue::after {
background-image: url(img/quote-blue.svg);
width: 58px;
height: 38px;
}
.quote__text_blue2::after {
background-image: url(img/quote-blue2.svg);
width: 64px;
height: 70px;
}
.quote__text_blue3::after {
background-image: url(img/quote-blue3.svg);
width: 56px;
height: 52px;
}
.quote__text_grey::after {
background-image: url(img/quote-grey.svg);
width: 50px;
height: 40px;
}
.quote__selected {
padding: 0 2px;
}
.quote__selected_yellow {
background: #FFE86B;
}
.quote__selected_blue {
background: #3562B6;
}
.quote__bottom {
font-size: 16px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
}
.quote_wrap {
max-width: 400px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.quote__author {
line-height: 1.6875;
}
.quote__image {
width: 94px;
height: 94px;
overflow: hidden;
border-radius: 50%;
margin-right: 20px;
min-width: 94px;
}
.quote__name {
font-weight: 600;
}
.title {
font-size: 150px;
line-height: 1;
margin-bottom: 48px;
font-weight: 700;
}
.title_grey {
color: #B4C1DA;
}
.title_red {
color: #F2412F;;
}
.title_grey-light {
color: #E5E5E5;
}
.title_white {
color: #FFFFFF;
}
.title__wrap {
display: inline-block;
position: relative;
}
.title_main {
font-size: 200px;
text-align: center;
text-transform: uppercase;
}

.row {
margin: 0 -15px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.col {
padding: 0 15px;
margin-bottom: 30px;
}
.col_2 {
width: 50%;
}
.col_3 {
width: 33.3333%;
}

.history {
margin-bottom: 49px;
}
.newspaper {
position: relative;
text-align: center;
}
.newspaper__top {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%:
-webkit-animation: newspaper 5s ease-in-out 0s infinite;
animation: newspaper 5s ease-in-out 0s infinite;
}
.history__text {
max-width: 470px;
padding-top: 13px;
line-height: 1.5;
}

.point {
margin-bottom: 50px;
max-width: 980px;
min-height: 80px;
}
.point__title {
position: relative;
padding: 10px 0 0 161px;
}
.point__name {
font-size: 50px;
color: #F2412F;
margin-bottom: 34px;
font-weight: 700;
}
.point__icon {
position: absolute;
top: 0;
left: 0;
background-repeat: no-repeat;
background-size: 100%;
}
.point__icon_image {
background-image: url(img/icon-image.svg);
width: 65px;
height: 62px;
}
.point__icon_conversion {
background-image: url(img/icon-conversion.svg);
width: 62px;
height: 57px;
}
.point__icon_expansion {
background-image: url(img/icon-expansion.svg);
width: 73px;
height: 71px;
}
.point__icon_interaction {
background-image: url(img/icon-interaction.svg);
width: 69px;
height: 64px;
}
.point__icon_continuity {
background-image: url(img/icon-continuity.svg);
width: 69px;
height: 71px;
}
.point__icon_rise {
background-image: url(img/icon-rise.svg);
width: 68px;
height: 72px;
}
.point__icon_person {
background-image: url(img/icon-person.svg);
width: 81px;
height: 81px;
}
.point__icon_indicators {
background-image: url(img/icon-indicators.svg);
width: 67px;
height: 66px;
}
.point__icon_attraction {
background-image: url(img/icon-attraction.svg);
width: 60px;
height: 68px;
}
.scrollblock {
max-width: 1060px;
height: 462px;
overflow-y: auto;
margin: auto;
position: relative;
}
.scrollblock .mCustomScrollBox {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
max-height: 100% !important;
}
.scrollblock__wrap {
padding: 0 126px 0 131px;
}
.scrollblock__wrap img {
display: block;
width: 100%;
}
.mCSB_inside > .mCSB_container {
margin-right: 0;
}
.scrollblock .mCSB_scrollTools .mCSB_draggerRail {
background-color: #F2412F;
width: 3px;
}
.scrollblock .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
width: 13px;
height: 13px;
border-radius: 50%;
background-color: #F2412F;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.29);
}
.scrollblock .mCSB_scrollTools {
opacity: 1;
}
.scrollblock .mCSB_scrollTools .mCSB_dragger {
height: 14px;
min-height: 14px;
height: auto !important;
}
.list {
list-style: none;
margin-bottom: 20px;
}
.list__item {
position: relative;
padding: 0 0 0 30px;
margin-bottom: 13px;
}
.list__item::before {
position: absolute;
content: '';
width: 5px;
height: 5px;
background: #F2412F;
border-radius: 50%;
top: 9px;
left: 0;
}

.slider {
height: 968px;
overflow: hidden;
position: relative;
margin-top: -55px;
}
.slider__item {
padding: 0 20px;
}
.slider__image {
margin: auto;
}
.slider .slick-dots {
position: absolute;
top: 116px;
right: 10px;
list-style: none;
}
.slider .slick-dots li {
margin-bottom: 17px;
}
.slider .slick-dots button {
width: 13px;
height: 13px;
border-radius: 50%;
background: #F2412F;
color: transparent;
font-size: 0;
cursor: pointer;
border: 2px solid #F2412F;
transition: all 0.3s;
}
.slider .slick-dots .slick-active button {
background: #FFFFFF;
}
.letter {
position: absolute;
top: -57px;
bottom: -230px;
left: -30.1%;
width: 100%;
z-index: 1;
background: url(img/letter.svg) no-repeat 0 0;
background-size: auto 100%;
}
.loupe {
position: absolute;
top: -155px;
left: -23%;
width: 57%;
z-index: 10;
padding-top: 58%;
background: url(img/loupe.png) no-repeat 0 0;
background-size: 100%;
visibility: hidden;
}
.loupe.animated {
-webkit-animation: fadeInLeft 1s ease-out 0s 1;
animation: fadeInLeft 1s ease-out 0s 1;
}
.man {
position: absolute;
bottom: 0;
right: 0;
width: 34.5%;
padding-top: 48.5%;
background: url(img/man.png) no-repeat right bottom;
background-size: 100%;
z-index: 10;
visibility: hidden;
right: -9%;
}
.man.animated {
-webkit-animation: fadeInRight 1s ease-out 0s 1;
animation: fadeInRight 1s ease-out 0s 1;
}
.performer {
color: #FFFFFF;
padding: 27px 0;
position: relative;
z-index: 5;
}
.performer__text {
margin-left: 327px;
max-width: 780px;
margin-bottom: 65px;
}
.performer .quote {
margin-left: 327px;
max-width: 775px;
}
.decision {
padding-top: 336px;
}
.enumeration__item {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
text-align: left;
}
.enumeration__text {
padding-top: 13px;
}
.enumeration__number {
margin-right: 5px;
}
.decision__enumeration .enumeration__number {
color: #FFFFFF;
font-size: 138px;
font-weight: 700;
line-height: 1;
}
.decision__enumeration {
padding: 52px 0 14px;
max-width: 1065px;
position: relative;
z-index: 5;
}
.prospects__enumeration .enumeration__number {
color: #B4C1DA;
font-size: 228px;
font-weight: 300;
line-height: 1;
}
.prospects__enumeration .enumeration__item {
-webkit-transform: translate3d(0, -50px, 0);
transform: translate3d(0, -50px, 0);
transition: all 0.5s;
opacity: 0;
}
.prospects__enumeration .enumeration__item.animated {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.prospects__enumeration .enumeration__item_2 {
transition-delay: 0.5s;
}
.prospects__enumeration .enumeration__item_3 {
transition-delay: 1s;
}
.lamp {
position: absolute;
width: 43.5%;
padding-top: 43.5%;
top: 97px;
right: -11%;
}
.lamp__circle {
position: absolute;
border-radius: 50%;
}
.lamp__circle_big {
top: 0;
width: 100%;
height: 100%;
left: 0;
background: rgba(251, 216, 26, 0.2);
-webkit-animation: flash 6s cubic-bezier(.9,.24,.62,.79) infinite;
animation: flash 6s cubic-bezier(.9,.24,.62,.79) infinite;
-webkit-animation-delay: calc(6 / -6);
animation-delay: calc(6 / -6);
}
.lamp__circle_medium {
top: 8%;
width: 84%;
height: 84%;
left: 8%;
background: rgba(251, 216, 26, 0.4);
-webkit-animation: flash 6s cubic-bezier(.9,.24,.62,.79) infinite;
animation: flash 6s cubic-bezier(.9,.24,.62,.79) infinite;
-webkit-animation-delay: calc(6 / -3);
animation-delay: calc(6 / -3);
}
.lamp__circle_small {
top: 14%;
width: 72%;
height: 72%;
left: 14%;
background: #FBD81A;
-webkit-animation: flash 6s cubic-bezier(.9,.24,.62,.79) infinite 0s;
animation: flash 6s cubic-bezier(.9,.24,.62,.79) infinite 0s;
}
.lamp__image {
background: url(img/lamp.png) no-repeat center;
background-size: 100%;
bottom: 16%;
width: 58%;
height: 54%;
right: 12%;
position: absolute;
}
.process {
padding: 58px 0 114px;
}
.cap {
position: absolute;
top: -21px;
left: -14px;
width: 123px;
height: 97px;
background: url(img/shapka_origami.png) no-repeat 0 0;
background-size: 100%;
visibility: hidden;
opacity: 0;
transition: all 1s;
transition-property: opacity;
transition-delay: 1.1s;
}
.cap.animated {
opacity: 1;
-webkit-animation: cap-down 0.7s ease-out 1.1s 1;
animation: cap-down 0.7s ease-out 1.1s 1;
}
.ladder {
position: absolute;
bottom: -237px;
top: -164px;
right: -10%;
width: 50%;
background: url(img/ladder.png) no-repeat right bottom;
background-size: auto 100%;
visibility: hidden;
}
.ladder.animated {
-webkit-animation: fadeInRight 1s ease-out 0s 1;
animation: fadeInRight 1s ease-out 0s 1;
}
.progress__list {
position: relative;
padding-top: 123px;
}
.progress__list .list__item {
padding-left: 332px;
margin-bottom: 62px;
}
.progress__list .list__item::before {
width: 230px;
height: 2px;
background: #FBD81A;
border-radius: 0;
top: 13px;
left: 0;
}
.paint {
position: absolute;
bottom: -277px;
top: -18px;
left: -11px;
width: 50%;
background: url(img/paint.png) no-repeat 0 0;
background-size: auto 100%;
}
.results-title {
position: relative;
padding: 304px 0 140px;
}
.wrapper .mac {
position: absolute;
width: 77%;
left: 0;
right: 0;
margin: auto;
text-align: center;
top: 48.5%;
-webkit-transform: translate3d(0, -50px, 0);
transform: translate3d(0, -100px, 0);
transition: all 1s;
opacity: 0;
}
.mac.animated {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.title__down {
visibility: hidden;
}
.title__down.animated {
-webkit-animation: fadeInDown 1.5s ease-out 0s 1;
animation: fadeInDown 1.5s ease-out 0s 1;
}
.results-quote {
padding-top: 47%;
}
.image {
margin-bottom: 40px;
text-align: center;
}
.resume {
padding: 15px;
}
.resume__image {
margin-bottom: 0;
-webkit-transform: translate3d(0, -50px, 0);
transform: translate3d(0, -100px, 0);
transition: all 1s;
opacity: 0;
}
.resume__image.animated {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.indicators {
max-width: 960px;
margin: auto;
margin-bottom: 50px;
}
.indicators__item {
max-width: 273px;
}
.indicators__ellips {
width: 267px;
height: 267px;
background-size: 100%;
background-repeat: no-repeat;
font-family: 'Fira Sans', sans-serif;
font-style: italic;
font-size: 125px;
text-align: center;
line-height: 267px;
color: #FFFFFF;
margin-bottom: 30px;
-webkit-transform: scale3d(0.6, 0.6, 0.6);
transform: scale3d(0.6, 0.6, 0.6);
transition: all 1s 0.5s;
}
.indicators__ellips.animated {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
.indicators__ellips_blue {
background-image: url(img/Ellipse1.svg);
}
.indicators__ellips_yellow {
background-image: url(img/Ellipse2.svg);
}
.indicators__symbol {
font-size: 43px;
}
.indicators__text {
text-transform: uppercase;
font-weight: 700;
}
.prospects {
text-align: center;
padding: 90px 0;
}
.prospects .title {
margin-bottom: 20px;
}
.prospects__text {
margin-bottom: 102px;
font-size: 28px;
}
.final {
text-align: center;
}
.wave {
position: relative;
height: 400px;
margin-bottom: -100px;
}
.wave__line {
position: absolute;
top: 18%;
left: 0;
right: 0;
height: 50%;
width: 100%;
background: url(img/wave.svg) no-repeat 0 0;
background-size: 100% 100%;
-webkit-animation: wave 5s ease-in-out 0s infinite;
animation: wave 5s ease-in-out 0s infinite;
}
.wave__image {
width: 227px;
height: 227px;
border-radius: 50%;
overflow: hidden;
position: absolute;
}
.wave__image_1 {
top: 36px;
left: -71px;
-webkit-animation: wave-img1 5s ease-in-out 0s infinite;
animation: wave-img1 5s ease-in-out 0s infinite;
}
.wave__image_2 {
top: 57px;
left: 16%;
-webkit-animation: wave-img2 5s ease-in-out 0s infinite;
animation: wave-img2 5s ease-in-out 0s infinite;
}
.wave__image_3 {
top: 13px;
left: 34%;
-webkit-animation: wave-img3 5s ease-in-out 0s infinite;
animation: wave-img3 5s ease-in-out 0s infinite;
}
.wave__image_4 {
top: -1px;
left: 53.5%;
-webkit-animation: wave-img4 5s ease-in-out 0s infinite;
animation: wave-img4 5s ease-in-out 0s infinite;
}
.wave__image_5 {
top: 54px;
left: 70.5%;
-webkit-animation: wave-img5 5s ease-in-out 0s infinite;
animation: wave-img5 5s ease-in-out 0s infinite;
}
.wave__image_6 {
right: -23px;
top: -26px;
-webkit-animation: wave-img6 5s ease-in-out 0s infinite;
animation: wave-img6 5s ease-in-out 0s infinite;
}

/* animation */
.animated {
visibility: visible;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

/* newspaper */
@keyframes newspaper {
0% {transform:rotate(-3deg)}
40%{transform:rotate(-2deg)}
70%{transform:rotate(1deg)}
100%{transform:rotate(-3deg)}
}
@-webkit-keyframes newspaper {
0% {transform:rotate(-3deg)}
40%{transform:rotate(-2deg)}
70%{transform:rotate(1deg)}
100%{transform:rotate(-3deg)}
}

/* cap-down */
@keyframes cap-down {
from {
transform: translate3d(0, -100%, 0) rotate(-10deg);
opacity: 0;
}
5% {
{opacity: 0}
}
30% {
{transform: translate3d(0, 0, 0);
opacity: 1;
}
}

80% {
transform: rotate(-11deg);
}
to {
transform: rotate(0);
}
}
@-webkit-keyframes cap-down {
from {
transform: translate3d(0, -100%, 0) rotate(-10deg);
opacity: 0;
}
5% {
{opacity: 0}
}
30% {
{transform: translate3d(0, 0, 0);
opacity: 1;
}
}

80% {
transform: rotate(-11deg);
}
to {
transform: rotate(0);
}
}

/* wave */
@keyframes wave {
0% {transform: scaleY(1);}
50% {transform: scaleY(0.7);}
100% {transform: scaleY(1);}
}
@-webkit-keyframes wave {
0% {transform: scaleY(1);}
50% {transform: scaleY(0.7);}
100% {transform: scaleY(1);}
}

/* wave-image1 */
@keyframes wave-img1 {
0% {transform: translateY(0)}
50% {transform: translateY(10px)}
100% {transform: translateY(0)}
}
@-webkit-keyframes wave-img1 {
0% {transform: translateY(0)}
50% {transform: translateY(10px)}
100% {transform: translateY(0)}
}

/* wave-image2 */
@keyframes wave-img2 {
0% {transform: translateY(15px) rotate(2deg)}
50% {transform: translateY(0) rotate(0)}
100% {transform: translateY(15px) rotate(2deg)}
}
@-webkit-keyframes wave-img2 {
0% {transform: translateY(15px) rotate(2deg)}
50% {transform: translateY(0) rotate(0)}
100% {transform: translateY(15px) rotate(2deg)}
}

/* wave-image3 */
@keyframes wave-img3 {
0% {transform: translateY(0) rotate(-8deg)}
50% {transform: translateY(20px) rotate(0)}
100% {transform: translateY(0) rotate(-8deg)}
}
@-webkit-keyframes wave-img3 {
0% {transform: translateY(0) rotate(-8deg)}
50% {transform: translateY(20px) rotate(0)}
100% {transform: translateY(0) rotate(-8deg)}
}

/* wave-image4 */
@keyframes wave-img4 {
0% {transform: translateY(0) rotate(5deg)}
50% {transform: translateY(20px) rotate(0)}
100% {transform: translateY(0) rotate(5deg)}
}
@-webkit-keyframes wave-img4 {
0% {transform: translateY(0) rotate(5deg)}
50% {transform: translateY(20px) rotate(0)}
100% {transform: translateY(0) rotate(5deg)}
}

/* wave-image5 */
@keyframes wave-img5 {
0% {transform: translateY(0) rotate(-10deg)}
50% {transform: translateY(15px) rotate(0)}
100% {transform: translateY(0) rotate(-10deg)}
}
@-webkit-keyframes wave-img5 {
0% {transform: translateY(0) rotate(-10deg)}
50% {transform: translateY(15px) rotate(0)}
100% {transform: translateY(0) rotate(-10deg)}
}

/* wave-image6 */
@keyframes wave-img6 {
0% {transform: translateY(0)}
50% {transform: translateY(25px)}
100% {transform: translateY(0)}
}
@-webkit-keyframes wave-img6 {
0% {transform: translateY(0)}
50% {transform: translateY(25px)}
100% {transform: translateY(0)}
}

@-webkit-keyframes fadeInLeft {
from {
opacity: 0;
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInLeft {
from {
opacity: 0;
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
@-webkit-keyframes fadeInRight {
from {
opacity: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInRight {
from {
opacity: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
@-webkit-keyframes flash {
from,
50%,
to {
opacity: 1;
}

25%,
75% {
opacity: 0;
}
}

@keyframes flash {
from,
50%,
to {
opacity: 1;
}

25%,
75% {
opacity: 0;
}
}
@-webkit-keyframes fadeInDown {
from {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInDown {
from {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

.final {
font-size: 28px;
color: #02458D;
text-align: center;
font-weight: 700;
padding-bottom: 100px;
}
footer .social ul.icons > li.instagram a{
width: 80px;
height: 80px;
}
footer .next{
padding: 0;
}
footer .next:after, footer .next:before{
top:0;
}
