html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: .35em .75em .625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
template,
[hidden] {
  display: none;
}
body {
  background: #282828;
  max-width: 1150px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
}
a {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
a[href]:hover {
  opacity: 0.5;
}
a[href]:active {
  opacity: 0.2;
}
.btn {
  background: #fff;
  height: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  color: #444;
  text-transform: uppercase;
  border: 2px solid #444;
}
body .btn:hover {
  background: #444;
  color: #fff;
  opacity: 1;
}
body .btn:active {
  color: #8d8d8d;
  opacity: 1;
}
.site-wrapper {
  background: #fff;
  padding: 20px 30px 40px;
}
.page-header {
  position: relative;
  z-index: 1;
}
.page-header--appearance-img::after {
  background: url("../img/hero-mobile.jpg") no-repeat;
  position: absolute;
  bottom: 133px;
  left: 50%;
  z-index: -1;
  width: 290px;
  height: 373px;
  content: "";
  margin-left: -145px;
}
.page-header__logo {
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 0;
  width: 86px;
  height: 35px;
  display: block;
  margin: 0 auto 25px;
}
.main-header__title {
  max-width: 600px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #231f20;
  text-align: center;
  margin: 110px auto;
}
.main-header__bottom-blocks {
  margin: 0 -30px;
}
.main-header__bottom-blocks--block1,
.main-header__bottom-blocks--block2 {
  position: relative;
  padding: 30px;
}
.main-header__bottom-blocks--block1:hover,
.main-header__bottom-blocks--block2:hover {
  padding: 25px 30px 35px;
}
.main-header__bottom-blocks--block1::after,
.main-header__bottom-blocks--block2::after {
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -56px;
  width: 40px;
  height: 62px;
  position: absolute;
  right: 35px;
  top: 30px;
  content: "";
}
.main-header__bottom-blocks--block1 {
  background: #63d1bb;
}
.main-header__bottom-blocks--block2 {
  background: #56c3b2;
}
.main-header__bottom-blocks--block2::after {
  background-position: -41px -56px;
  width: 60px;
  right: 25px;
}
.main-header__bottom-blocks a {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
@media (min-width: 768px) {
  .site-wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
  .page-header::after {
    bottom: 30px;
  }
  .main-header__bottom-blocks {
    display: flex;
    position: relative;
    margin: 0;
  }
  .main-header__bottom-blocks::after {
    background: url("../img/zigzag-fill-desktop.png");
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: -10px;
    content: "";
  }
  .main-header__bottom-blocks--block1,
  .main-header__bottom-blocks--block2 {
    width: 50%;
  }
  .main-header__bottom-blocks a {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .page-header__logo {
    background-position: -87px 0;
    width: 113px;
    height: 46px;
    margin: 0;
    margin-bottom: 25px;
  }
  .main-header__title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .page-header__logo {
    background-position: -201px 0;
    width: 148px;
    height: 73px;
    position: absolute;
    left: 50%;
    z-index: 2;
    margin: 0;
    margin-left: -74px;
  }
  .main-header__title {
    font-size: 50px;
    line-height: 60px;
  }
  .site-wrapper {
    padding-top: 10px;
  }
}
.main-nav {
  position: relative;
}
.main-nav__toggle {
  background: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: -65px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle::before {
  background: #000;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 13px;
  left: 10px;
  content: "";
  box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
}
.main-nav--opened .main-nav__toggle:before,
.main-nav--opened .main-nav__toggle:after {
  background: #000;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 8px;
  content: "";
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav__list,
.main-nav__user-block {
  margin: 0;
  padding: 0;
}
.main-nav__item {
  list-style: none;
}
.main-nav__list::before {
  content: '';
  width: 100%;
  order: 1;
}
.main-nav__item a {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 22px 45px;
}
.main-nav__item--hidden-mobile,
.main-nav__item--hidden-tablet {
  display: none;
}
.main-nav__user {
  position: relative;
  list-style: none;
  vertical-align: top;
}
.main-nav__user-search,
.main-nav__user-basket {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 22px 0 22px 45px;
}
.main-nav__user-search::before,
.main-nav__user-basket::before {
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -36px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  opacity: .3;
}
.main-nav__user-basket::before {
  background-position: -18px -36px;
  width: 21px;
}
.main-nav__user-search:hover::before {
  background-position: -39px -36px;
  opacity: 1;
}
.main-nav__user-basket:hover::before {
  background-position: -57px -36px;
  opacity: 1;
}
@media (max-width: 767px) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .main-nav__user-block {
    top: -80px;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav__item:nth-child(2) {
    margin-right: auto; 
  }
  .main-nav__item a {
    font-size: 14px;
    padding-left: 0;
  }
  .main-nav__item--hidden-mobile {
    font-size: 14px;
    line-height: 24px;
    padding: 9px 0px;
  }
  .main-nav__item--hidden-tablet {
    display: none;
  }
  .main-nav__wrapper {
    position: relative;
  }
  .main-nav__item--hidden-mobile {
    display: block;
  }
  .main-nav__user-block {
    position: absolute;
    right: 0;
  }
  .main-nav__user {
    display: inline-block;
  }
  .main-nav__user-search span {
    display: none;
  }
  .main-nav__user-search {
    margin-right: 40px;
  }
}
@media (min-width: 1150px) {
  .main-nav__item a {
    font-size: 16px;
  }
  .main-nav__item--hidden-tablet {
    display: inline-block;
    font-size: 14px;
  }
  .main-nav__user-block {
    top: 0;
  }
  .main-nav__item:nth-child(n + 3) {
    order: 1;
  }
  .main-nav__item:nth-child(4) {
    margin-right: auto; 
  }
}
.featured {
  margin-top: 35px;
  margin-bottom: 60px;
}
.featured__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  margin-top: 0;
  margin-bottom: 7px;
}
.featured__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.featured__description {
  max-width: 300px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.featured__filters td {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding: 10px 0;
}
.featured__filters td:nth-child(n+2) {
  padding-left: 30px;
}
.featured__img {
  background: #c2c2c2;
  max-width: 260px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.featured__price {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 10px 0 30px;
}
.featured_controls {
  text-align: center;
}
.featured__order-btn {
  padding: 0 85px;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .featured__title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  .featured {
    position: relative;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .featured__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .featured__subtitle {
    width: 100px;
    text-align: center;
    margin-bottom: 0;
  }
  .featured__description {
    font-size: 16px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .featured__img {
    min-width: 334px;
    height: auto;
    position: absolute;
    right: 0;
    top: 20%;
  }
  .featured__price {
    max-width: 260px;
    font-size: 18px;
  }
  .featured_controls {
    max-width: 300px;
    text-align: left;
  }
}
@media (min-width: 1150px) {
  .featured {
    margin-top: 120px;
    margin-bottom: 140px;
    margin-left: 175px;
  }
  .featured__title-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: -175px;
  }
  .featured__title {
    font-size: 50px;
    line-height: 60px;
  }
  .featured__subtitle {
    margin: 0 35px;
  }
  .featured__description {
    margin-bottom: 100px;
  }
  .featured__img {
    min-width: 450px;
    top: 10%;
  }
}
.about {
  margin-bottom: 70px;
}
.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  margin-bottom: 30px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.about__item {
  list-style: none;
  width: 260px;
}
.about__item--item1::before,
.about__item--item2::before,
.about__item--item3::before,
.about__item--item4::before,
.about__item--item5::before,
.about__item--item6::before {
  background: url("../img/sprites.png") no-repeat;
  width: 55px;
  height: 37px;
  display: table;
  content: "";
}
.about__item--item1::before {
  background-position: 0 -120px;
}
.about__item--item2::before {
  background-position: -111px -120px;
}
.about__item--item3::before {
  background-position: -222px -120px;
}
.about__item--item4::before {
  background-position: -55px -120px;
}
.about__item--item5::before {
  background-position: -166px -120px;
}
.about__item--item6::before {
  background-position: -278px -120px;
}
.about__caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 10px 0 20px;
}
.reviews__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  margin-bottom: 25px;
}
.reviews__text {
  max-width: 700px;
}
.reviews__text,
.reviews__email {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #444;
}
.reviews__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #000;
}
.reviews__wrapper-arrows {
  text-align: center;
  margin: 40px 0;
}
.reviews__prev,
.reviews__next {
  background: url("../img/sprites.png") no-repeat;
  width: 50px;
  height: 26px;
  border: none;
  cursor: pointer;
}
.reviews__prev:hover,
.reviews__next:hover {
  opacity: .5;
}
.reviews__prev:active,
.reviews__next:active {
  opacity: .2;
}
.reviews__prev {
  background-position: 0 -158px;
  margin-right: 75px;
}
.reviews__next {
  background-position: -52px -158px;
}
.reviews_controls {
  text-align: center;
}
.reviews__write-btn {
  padding: 0 85px;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .about__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
  }
  .reviews__title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  .about__list {
    max-width: 1000px;
    margin-bottom: 80px;
  }
  .about__item {
    width: 334px;
  }
  .about__caption {
    font-size: 20px;
    margin: 15px 0 45px;
  }
  .reviews {
    position: relative;
    margin-bottom: 200px;
  }
  .reviews__text,
  .reviews__email,
  .reviews__name {
    font-size: 16px;
  }
  .reviews__wrapper-arrows {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px 0;
  }
  .reviews__write-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 45px;
  }
}
@media (min-width: 1150px) {
  .about {
    margin-left: 175px;
    margin-bottom: 250px;
  }
  .about__list {
    margin-bottom: 110px;
  }
  .about__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
  }
  .reviews__title {
    font-size: 50px;
    line-height: 60px;
  }
}
.contacts {
  margin-bottom: 70px;
}
.contacts__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}
.contacts__address {
  margin-bottom: 30px;
}
.contacts__address td {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
}
.contacts__address td:nth-child(n+2) {
  padding-left: 25px;
}
.contacts__address--underline::after {
  display: block;
  content: "";
  width: 85%;
  border-bottom: 1px solid #62d1ba;
}
.contacts__address--underline a:hover {
  color: #52c5b3;
  opacity: 1;
}
.contacts__address--underline a:active {
  opacity: .3;
}
ontacts_controls {
  text-align: center;
}
.contacts__write-us-btn {
  padding: 0 58px;
}
.contacts__map {
  margin: 0 -30px 15px;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .contacts__title {
    font-size: 40px;
    line-height: 50px;
  }
  .contacts__address tr {
    display: table-cell;
    vertical-align: top;
    padding-right: 60px;
  }
  .contacts__map {
    margin: 0 -50px 45px;
  }
}
@media (min-width: 768px) {
  .contacts {
    margin-bottom: 100px;
  }
  .contacts__title {
    position: relative;
  }
  .contacts__title::after {
    background: url("../img/sprites.png") no-repeat;
    background-position: 0 -185px;
    width: 47px;
    height: 81px;
    position: absolute;
    right: 0;
    content: "";
  }
  .contacts__address {
    margin-bottom: 45px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    position: relative;
    margin-left: 175px;
  }
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
  }
  .contacts__title::after {
    left: -100px;
  }
  .contacts__map {
    width: 525px;
    height: 460px;
    position: absolute;
    top: -70px;
    right: 0;
    margin-right: 0px;
  }
  .contacts_controls {
    text-align: left;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-links {
  margin-bottom: 50px;
}
.social-link {
  background: url("../img/sprites.png") no-repeat;
  width: 25px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px;
}
.social-link--in {
  background-position: 0 -267px;
}
.social-link--in:hover {
  background-position: -75px -267px;
}
.social-link--fb {
  background-position: -25px -267px;
}
.social-link--fb:hover {
  background-position: -100px -267px;
}
.social-link--tw {
  background-position: -50px -267px;
}
.social-link--tw:hover {
  background-position: -125px -267px;
}
.page-footer__copyright {
  width: 155px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
.page-footer__copyright::after {
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -298px;
  width: 27px;
  height: 34px;
  position: absolute;
  right: -27px;
  content: "";
}
@media (min-width: 768px) {
  .page-footer {
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
  .page-footer__logo {
    background: url("../img/sprites.png") no-repeat;
    background-position: -102px -67px;
    width: 102px;
    height: 34px;
    display: block;
  }
}
.items {
  margin-bottom: 80px;
}
.items__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items__item {
  list-style: none;
  margin-bottom: 60px;
}
.items__img-wrapper {
  width: 260px;
  height: 198px;
  overflow: hidden;
}
.items__img {
  background: #c2c2c2;
  width: 260px;
  height: 260px;
}
.items__content {
  padding-left: 30px;
}
.items__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin: 0;
  margin-top: 25px;
}
.items__description {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 40px;
}
.items__price_block {
  display: flex;
  justify-content: space-between;
}
.items__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.items__icon-basket {
  display: inline-block;
  margin-right: 25px;
}
.items__icon-basket::before {
  background: url("../img/sprites.png") no-repeat;
  background-position: -18px -36px;
  width: 21px;
  height: 19px;
  display: block;
  content: "";
  opacity: .3;
}
.items__icon-basket:hover::before {
  background-position: -57px -36px;
  opacity: 1;
}
.video {
  margin-bottom: 110px;
}
.video__title {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding-left: 90px;
}
.video__title::before {
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -333px;
  width: 32px;
  height: 22px;
  position: absolute;
  left: 29px;
  top: 50%;
  margin-top: -16px;
  content: "";
}
.video video {
  background: #707070;
  width: 100%;
  max-width: 682px;
  height: auto;
}
.video__content {
  width: 100%;
  max-width: 682px;
  position: relative;
  margin: 0 auto;
}
.video__main-btn {
  background: url("../img/sprites.png") no-repeat;
  background-position: -48px -185px;
  width: 101px;
  height: 77px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -38px;
  cursor: pointer;
}
.video__main-btn:hover {
  background-position: -150px -185px;
  width: 123px;
  height: 94px;
  margin-top: -61px;
  margin-left: -47px;
}
.video__main-btn:active {
  background-position: -274px -185px;
  width: 81px;
  height: 62px;
  margin-top: -40px;
  margin-left: -31px;
}
.video_description {
  max-width: 570px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 30px;
}
.video_controls {
  text-align: center;
}
.video__order {
  width: 82%;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .items__content {
    position: relative;
  }
  .items__item-title {
    font-size: 18px;
  }
  .video_description {
    font-size: 16px;
    padding: 0 40px;
    margin-bottom: 35px;
  }
  .items__price_block {
    position: absolute;
  }
  .items__price {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .items__item {
    display: flex;
  }
  .items__img-wrapper {
    width: 334px;
    height: 334px;
  }
  .items__img {
    width: 334px;
    height: 334px;
  }
  .items__content {
    width: 307px;
  }
  .items__price_block {
    width: 100%;
    bottom: 30px;
  }
  .video {
    display: flex;
    flex-direction: column;
  }
  .video__title {
    padding-left: 100px;
    margin-top: 25px;
    order: 2;
  }
  .video__title::before {
    left: 39px;
  }
  .video__content {
    order: 1;
  }
  .video_description {
    order: 3;
  }
  .video_controls {
    padding: 0 50px;
    order: 4;
  }
}
@media (min-width: 1150px) {
  .items__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .items__item {
    width: 315px;
  }
  .items__img-wrapper {
    width: 320px;
    height: 462px;
  }
  .items__img {
    width: 462px;
    height: 462px;
  }
  .items__content {
    min-height: 140px;
  }
  .items__price_block {
    bottom: 0;
  }
  .video {
    position: relative;
    margin-bottom: 170px;
  }
  .video__content {
    position: absolute;
    top: -85px;
    left: 0;
  }
  .video__title {
    width: 180px;
    padding-left: 30px;
    margin-top: 85px;
    margin-left: 750px;
  }
  .video__title::before {
    top: -30px;
  }
  .video_description {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 740px;
  }
  .video_controls {
    margin-left: 730px;
  }
}
.form {
  margin-bottom: 100px;
}
.form__subtitle {
  font-size: 14px;
  line-height: 25px;
}
.form__list {
  padding: 0;
  margin: 0;
}
.form__item {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  border-top: 1px solid #63d1bb;
  margin: 35px 0;
  list-style: none;
}
.form__item-title {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  margin-top: 20px;
  overflow: hidden;
  padding-right: 50px;
}
.form__item label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-top: 25px;
}
.form__type,
.form__color {
  display: none;
}
.form__radio-checked {
  background: #fff;
  width: 36px;
  height: 36px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #444;
  border-radius: 35px;
  margin-right: 20px;
  cursor: pointer;
}
input:checked + label .form__radio-checked::after {
  background: #62d1ba;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  margin-top: -8px;
  margin-left: -8px;
  content: "";
  pointer-events: none;
}
.form__checkbox-checked {
  background: #fff;
  width: 36px;
  height: 36px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #444;
  margin-right: 20px;
  cursor: pointer;
}
input:checked + label .form__checkbox-checked::after {
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -356px;
  width: 32px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  margin-top: -9px;
  margin-left: -11px;
  content: "";
  pointer-events: none;
}
.form__radio-checked:hover,
.form__checkbox-checked:hover {
  border: 2px solid #62d1ba;
}
.form__radio-checked:active,
.form__checkbox-checked:active {
  border: 2px solid #c7c7c7;
}
.form__item-margin .form__item-title {
  margin: 30px 0 15px;
}
.form__item input[type=text],
.form__item input[type=tel],
.form__item input[type=email] {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}
.form__item input[type=text]:hover,
.form__item input[type=tel]:hover,
.form__item input[type=email]:hover,
.form__item input[type=text]:focus,
.form__item input[type=tel]:focus,
.form__item input[type=email]:focus {
  border-bottom: 2px solid #62d1ba;
}
.form__item input[type=text]:invalid,
.form__item input[type=tel]:invalid,
.form__item input[type=email]:invalid {
  border-bottom: 2px solid #f0b1b1;
}
.form__item--icon-tel,
.form__item--icon-email {
  padding-right: 40px;
}
.form__tel {
  background: url("../img/form-tel.png") no-repeat 100% 50%;
}
.form__email {
  background: url("../img/form-email.png") no-repeat 100% 50%;
}
.form__text {
  width: calc(100% - 34px);
  height: 110px;
  padding: 15px;
  border: 2px solid #000;
  margin: 20px 0 50px;
  resize: none;
  outline: none;
}
.form__text:hover,
.form__text:focus {
  border: 2px solid #62d1ba;
}
.form__text:invalid {
  border: 2px solid #f0b1b1;
}
.form__send-btn {
  cursor: pointer;
  padding: 0 48px;
}
@media (min-width: 768px) {
  .form__subtitle {
    font-size: 16px;
    line-height: 30px;
  }
  .form__item {
    position: relative;
    border: none;
  }
  .form__item-title {
    position: absolute;
    margin-top: 35px;
  }
  .form__item-title::after {
    display: none;
  }
  .form__item label,
  .form__item input[type=text],
  .form__item input[type=tel],
  .form__item input[type=email],
  .form__item textarea {
    width: calc(100% - 368px);
    font-size: 18px;
    margin-left: 167px;
  }
  .form__item textarea {
    width: calc(100% - 402px);
  }
  .form__radio-checked {
    width: 52px;
    height: 52px;
  }
  input:checked + label .form__radio-checked::after {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
  }
  .form__checkbox-checked {
    width: 52px;
    height: 52px;
  }
}
